<div class="skills-section">
  <h1 class="section-title">work experience</h1>
  <div class="section_details shadow">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Junior Software developer
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              <span class="float-start"
                >MIS Department at Golden Pyramids Plaza Group</span
              >
              <span class="float-end">from JAN 2018 to April 2019</span>
            </p>
            <br />
            <ul>
              <li>Create website and admin panel for gpp</li>
              <li>
                Enhancement some features in website for citystars using nodejs
                and handlebars
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Junior Software developer
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              <span class="float-start">Efile company</span>
              <span class="float-end">from April 2019 to Sept 2019</span>
            </p>
            <br />
            <ul>
              <li>Working on electronic file system</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Junior mean stack developer
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              <span class="float-start">El Qema Company</span>
              <span class="float-end">from Dec 2020 to Aug 2021</span>
            </p>
            <br />
            <ul>
              <li>
                Working on website for faculty of Nanotechnology For post
                graduate studies and it’s admin panel
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
