<div class="skills-section">
    <h1 class="section-title">Skills</h1>
    <div class="section_details row m-auto p-3 mb-5 bg-body rounded">
        <div class="col-md-4 shadow p-3">
         <h4 class="text-center">Web Development</h4>
         <div>
            <p>html</p>
            <p><ngb-progressbar [showValue]="true" type="success" [value]="85"></ngb-progressbar></p>
         </div>
         <div>
            <p>css</p>
            <p><ngb-progressbar [showValue]="true" type="success" [value]="80"></ngb-progressbar></p>
         </div>
         <div>
            <p>javascript</p>
            <p><ngb-progressbar [showValue]="true"type="success" [value]="70"></ngb-progressbar></p>
         </div>
           
        </div>
        <div class="col-md-4 shadow p-3">
            <h4 class="text-center">meanstack Development</h4>
            <div>
                <p>nodejs</p>
                <p><ngb-progressbar [showValue]="true" type="success" [value]="60"></ngb-progressbar></p>
             </div>
             <div>
                <p>angular2+</p>
                <p><ngb-progressbar [showValue]="true" type="success" [value]="70"></ngb-progressbar></p>
             </div>
            
           
        </div>
        <div class="col-md-4 shadow p-3">
            <h4 class="text-center">database </h4>
            <div>
                <p>nosql</p>
                <p><ngb-progressbar [showValue]="true"type="success" [value]="70"></ngb-progressbar></p>
             </div>
            
        </div>
</div>
