<div class="intern-section">
  <h1 class="section-title">internships</h1>
  <div
    class="section_details shadow d-flex justify-content-between text-center p-2">
    <div class="col-md-2 my-auto" 
    triggers="mouseenter:mouseleave"
    ngbPopover="Trainee by NTI in Web Development Track 'Angular2+ , Nodejs'| Online" 
    popoverTitle="National Telecommunication Institute">
      <img src="assets/images/nti.jpeg" />
      <p>DEY Program</p>
      <p>Sep to Oct 2021</p>
    </div>
    <div class="col-md-2 my-auto"
    triggers="mouseenter:mouseleave"
    ngbPopover="Trainee by NTI in Web Design Track 'html ,css ,js,bootstrap' |  Online" 
    popoverTitle="National Telecommunication Institute">
      <img src="assets/images/nti.jpeg" />
      <p>DEY Program</p>
      <p>29 Nov to 30 Dec 2020</p>
    </div>
    <div class="col-md-2 my-auto"
    triggers="mouseenter:mouseleave"
    ngbPopover="Android Development Program  |  Online" 
    popoverTitle="Udacity">
      <img src="assets/images/udacity_logo.png" />
      <p>Nano Degree Program</p>
      <p>June 2018 to Nov 2018</p>
    </div>
    <div class="col-md-2 my-auto"
    triggers="mouseenter:mouseleave"
    ngbPopover="Responsive Web Development Track | Ismailia" 
    popoverTitle="Information Technology Institute">
      <img src="assets/images/iti_logo.png" />
      <p>3-Months Diploma</p>
      <p>Feb 2017 to May 2017</p>
    </div>
    <div class="col-md-2 my-auto"
    triggers="mouseenter:mouseleave"
    ngbPopover="Android Development Intern | Ismailia" 
    popoverTitle="Startup Company Teqnia Tech">
      <img src="assets/images/teqnia-tech.jpeg" />
      <p>mobile internship</p>
      <p>Nov 2016 to JAN 2017</p>
    </div>
  </div>
</div>
