<div class="about-section">
  <h1 class="section-title">About</h1>
  <div class="section_details">
    <div class="row  shadow p-3 bg-body rounded">
      <div class="education col-md-6 col-12">
        <h4>education</h4>
        <div class="p-3">
          <p><strong>BSc of Computer Science and Information</strong></p>
          <p  class="px-2">Suez Canal University, Ismailia | Sep 2012 – May 2016</p>
          <p  class="px-2">Bachelor of computer Science (very good)</p>
          <p><strong>Graduation project</strong>: Android Mobile App</p>
          <p  class="px-2">"Deaf and Dumb Chat System" (excellent)</p>
        </div>
      </div>
      <div class="information col-md-6 col-12">
        <h4>basic information</h4>
        <div class="px-3 py-2">
          <img src="assets/images/envelope.svg" />
          <span class="email mx-2 fs-6">reemmahmoud726@gmail.com</span>
        </div>
        <div class="px-3 py-2">
          <img src="assets/images/phone.svg" />
          <span class="phone mx-2 fs-6">01015656473</span>
        </div>
        <div class="px-3 py-2">
          <img src="assets/images/geo-alt.svg" />
          <span class="address mx-2 fs-6">Egypt , Ismailia</span>
        </div>
        <div class="px-3 py-2">
          <img src="assets/images/calendar.svg" />
          <span class="dateOfBirth mx-2 fs-6">22 JAN 1994</span>
        </div>
      </div>
    </div>
  </div>
</div>
