<div class="projects-section">
  <h1 class="section-title">Projects</h1>
  <div class="section_details row p-5">
    <a href="http://fnt.cu.edu.eg/en/" target="_blank">
      <div class="col-md-3 col-6">
        <div class="project_details">
          <img src="../../../assets/images/nanotechnology.jpeg" />
        </div>
        <div class="overlay_section col-md-3 col-6">
          <p id="project_name" class="fs-4"><strong>Faculty of NanoTechnology</strong></p>
        </div>
      </div>
    </a>
    
  </div>
</div>
