
<div class="section_details summary-section  my-5 py-3 d-flex 
            flex-lg-row  flex-md-row  flex-sm-column-reverse flex-column-reverse  
            justify-content-between">
    <section id="summary">
        <h3 class="text-muted">Hi , Iam</h3>
        <h2>Reem Mahmoud</h2>
        <h5 class="text-muted">Mean Stack Developer</h5>
        <p>I would like to find opportunity where my skills can be developed</p>
        <div class="my-5">
            <button class="py-2" type="submit">Hire Me</button>
            <button class="py-2"  type="submit">Projects</button>
        </div>
    </section>
    <section id="picture">
        <img src="/assets/images/personal-picture.jpeg" alt="reem mahmoud">
    </section>
</div>


