<footer class="mt-5 shadow-lg">
    <div class="icons">
        <a href="https://www.facebook.com/reem.mahmod.142"> 
            <i class="fa fa-brands fa-facebook"></i>
        </a>
        <!-- <a href=""> 
            <i class="fa fa-brands fa-twitter"></i>
        </a> -->
        <a href="https://github.com/reem2mahmoud"> 
            <i class="fa fa-brands fa-github-alt"></i>
        </a>
        <a href="https://www.linkedin.com/in/reem-mahmoud-476230138/">
            <i class="fa fa-brands fa-linkedin"></i>
        </a>
        <a href="https://reemmahmoud726@gmail.com">
            <i class="fa fa-brands fa-google"></i>
        </a>
    </div>
    <div class="copy_right mt-2">
        copyright &copy;All rights reserved by reem mahmoud
    </div>
</footer>
